@page "/"

<h1>Blazor on Pages</h1> 

<p>Deployed with <a href="https://pages.cloudflare.com">Cloudflare Pages</a>, a Jamstack platform for frontend developers to collaborate and deploy websites.</p>

<ul>
  <li>Developer-focused with effortless Git integration</li>
  <li>Advanced collaboration built-in with unlimited seats</li>
  <li>Unmatched performance on Cloudflare’s edge network</li>
  <li>Dynamic functionality with Cloudflare Workers</li>
</ul>

<p>Learn more about Cloudflare Pages at <a href="https://pages.cloudflare.com">pages.cloudflare.com</a>.</p>